
*.pbi
*.xcl
*.dep
*.lst
*.dep
*.o
*.log
*.pbd
*.browse
*.linf
*.pbw
*.dep
*.wsdt
settings/Project.wsdt
*.sim
*.tmp
*.obj
*.pch
*.tlog
*.idb
*.pdb
*.ilk
*.ncb
*.sdf
*.ipch
*.suo
*.lastbuildstate
*.dbgdt
*.dbgdt
*.dnx
*.crun
settings/MKSDLP_Alter.MKSDLP_Alter_debug.cspy.bat
settings/MKSDLP_Alter.MKSDLP_Alter_debug.cspy.ps1
*.reggroups
*.jlink
MKSDLP_Alter_Debug/Obj/cstat.db
MKSDLP_Alter_Debug/Obj/cstat.db
settings/MKS_DLP_new.dbgdt
settings/MKS_DLP_new.dnx
settings/MKS_DLP_new.dbgdt
settings/MKS_DLP_new.dnx
settings/Project.wsdt
MKSDLP_Alter_Debug/Obj/cstat.db
