
*.pbi
*.xcl
*.dep
*.lst
*.dep
*.o
*.log
*.pbd
*.browse
*.linf
*.pbw
*.dep
*.wsdt
settings/Project.wsdt
*.sim
*.tmp
*.obj
*.pch
*.tlog
*.idb
*.pdb
*.ilk
*.ncb
*.sdf
*.ipch
*.suo
*.lastbuildstate
settings/*.*
*.dbgdt
*.dnx
*.db
/build/
/bin/
/distr/
/config.mk
